#Custom
*.np
*.npz
# *.png
*.pt
*.py.swp
.ipynb_checkpoints/
.vscode/
dataset/
downloads/
runs/
embeds/
configs/configs_to_run/*
!configs/configs_to_run/.gitkeep
configs/configs_computed/*
!configs/configs_computed/.gitkeep
configs/multiprocess

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
