#Custom
*.np
*.npz
*.png
*.pt
*.py.swp
.ipynb_checkpoints/
dataset/
downloads/
runs/
.vscode/
configs/configs_to_run/*
configs/configs_computed/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
